<app-nav-menu [sistema]="sistema" [modulo]="modulo"></app-nav-menu>

<main class="content min-vh-100">
  <app-nav-bar></app-nav-bar>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="home">
              <fa-icon [icon]="faHome"></fa-icon>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#">Financeiro</a></li>
          <li class="breadcrumb-item"><a href="contratos">Contratos</a></li>
          <li class="breadcrumb-item"><a href="contrato/{{contrato_id}}">Parcelas</a></li>
          <li class="breadcrumb-item active capitalize" aria-current="page">{{titulo}}</li>
        </ol>
      </nav>
      <h2 class="h4">{{titulo}}</h2>
      <p class="mb-0"></p>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <a href="contrato/{{contrato_id}}" class="btn btn-sm btn-secondary d-inline-flex align-items-center">
        <span class="me-1">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </span>
        Voltar
      </a>
    </div>
  </div>

  <form>
    <div class="row">
      <div class="col-12 mb-4">
        <div class="card border-0 shadow components-section">
          <div class="card-body">
            <div class="row">
              <div class="col-xs-12 col-lg-8">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="order-well">
                      <strong>
                        Número da parcela:
                        <span class="order-id"> {{parcela.id}}</span>
                      </strong>
                    </div>
                    <div class="">
                      <strong>
                        Data de Vencimento:
                        <span class="order-id"> {{parcela.vencimento}}</span>
                      </strong>
                    </div>
                    <div class="order-well">
                      <strong>
                        Valor da parcela:
                        <span class="order-id"> {{parcela.valor}}</span>
                      </strong>
                    </div>
                    <hr />
                  </div>
                </div>
                <div class="row pix">
                  <div class="col-xs-12 mx-1">
                    <div class="row">
                      <div class="col-xs-12 col-md-8">
                        <p><strong>Pagar com o PIX é rápido e simples:</strong></p>
                        <ol class="mb-1 is-hidden-xs is-hidden-sm">
                          <li>Abra o App ou Site onde você cadastrou suas chaves PIX.</li>
                          <li>Toque no menu correspondente ao PIX dentro do App/Site que você utiliza.</li>
                          <li>
                            Selecione a opção
                            <span class="qrcode-icon-wrapper"></span>
                            "Pagar QR Code".
                          </li>
                          <li>Escaneie o código exibido ao lado, nessa página.</li>
                        </ol>
                        <p><strong>Se preferir, você também pode utilizar o código:</strong></p>
                      </div>
                      <div class="col-xs-12 col-md-4 is-hidden-xs is-hidden-sm px-1 mt-3">
                        <picture class="pix-picture">
                          <img src="{{parcelaJson != null ? parcelaJson.charge.qrCodeImage : 'assets/img/loading.gif'}}"
                            width="172" height="172" alt="pix qrcode">
                        </picture>
                      </div>
                      <div class="col-xs-12">
                        <ol class="margin-bottom">
                          <li>Copie o código exibido abaixo.</li>
                          <li>Cole dentro do App ou Site onde você cadastrou suas chaves PIX.</li>
                        </ol>
                        <p class="margin-bottom"><strong>Depois é só aguardar a confirmação do seu pedido.</strong></p>
                        <div class="pix-wrapper">
                          <input type="text" class="form-control pix-code" readonly
                            value="{{parcelaJson != null ? parcelaJson.charge.brCode : ''}}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-lg-4 col-xl-offset-1 col-xl-3 is-sticky">
                <div class="l-shipping-summary">
                  <div class="summary-item">
                    <strong>Resumo do Contrato:</strong>
                  </div>
                  <div class="summary-item">
                    <span>
                      Contrato:
                    </span>
                    <span>
                      <strong>{{parcela.contrato != null ? parcela.contrato.id : ''}}</strong>
                    </span>
                  </div>
                  <div class="summary-item">
                    <span> Descrição: <span>
                        <span>
                          <strong>
                            {{parcela.contrato != null ? parcela.contrato.descricao : ''}}
                          </strong>
                        </span>
                      </span></span>
                  </div>
                  <div class="summary-item">
                    <span> Total: <span>
                        <span>
                          <strong>
                            {{parcela.contrato != null ? parcela.contrato.valorTotal : ''}}
                          </strong>
                        </span>
                      </span></span>
                  </div>
                  <div class="summary-item">
                    <span> Parcelas: <span>
                        <span>
                          <strong>
                            {{parcela.contrato != null ? parcela.contrato.numParcelas : ''}}
                          </strong>
                        </span>
                      </span></span>
                  </div>
                  <div class="summary-item">
                    <span> Status: <span>
                        <span>
                          <strong>
                            {{parcela.contrato != null ? parcela.contrato.status : ''}}
                          </strong>
                        </span>
                      </span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            * Leia atentamente as informações
          </div>
        </div>
      </div>
    </div>
  </form>

  <app-footer [sistema]="sistema" [modulo]="modulo"></app-footer>
</main>
