<app-nav-menu [sistema]="sistema" [modulo]="modulo"></app-nav-menu>

<main class="content min-vh-100">
  <app-nav-bar></app-nav-bar>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
          <li class="breadcrumb-item">
            <a href="home">
              <fa-icon [icon]="faHome"></fa-icon>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#">Gestão</a></li>
          <li class="breadcrumb-item"><a href="alunos">{{titulo}}</a></li>
          <li class="breadcrumb-item active capitalize" aria-current="page">{{acao}}</li>
        </ol>
      </nav>
      <h2 class="h4">{{titulo}}</h2>
      <p class="mb-0"></p>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <a href="alunos" class="btn btn-sm btn-secondary d-inline-flex align-items-center">
        <span class="me-1">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </span>
        Voltar
      </a>
    </div>
  </div>

  <form>
    <div class="row">
      <div class="col-12 mb-4">
        <div class="card border-0 shadow components-section">
          <div class="card-body">
            <div class="row mb-4">
              <div class="col-md-6 mb-3">
                <div>
                  <label for="nome_completo_aluno">Nome Completo <span>*</span></label>
                  <input class="form-control" id="nome_completo_aluno" type="text"
                    placeholder="Insira o nome completo do aluno" name="nomeCompleto" [(ngModel)]="aluno.nomeCompleto"
                    [disabled]="isDisabled" required>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div>
                  <label for="inputCpf">CPF <span>*</span></label>
                  <input class="form-control" id="inputCpf" type="text" placeholder="Insira o cpf do aluno" name="cpf"
                    [(ngModel)]="aluno.cpf" [disabled]="isDisabled" required>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="nascimento">Data de Nascimento</label>
                <div class="input-group">
                  <span class="input-group-text">
                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </span>
                  <input class="form-control" id="nascimento" type="date" placeholder="dd/mm/yyyy" name="dataNascimento"
                    [(ngModel)]="aluno.dataNascimento" [disabled]="isDisabled">
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div>
                  <label for="endereco_completo_aluno">Endereço Completo <span>*</span></label>
                  <input class="form-control" id="endereco_completo_aluno" type="text"
                    placeholder="Insira o endereço completo do aluno" name="enderecoCompleto"
                    [(ngModel)]="aluno.enderecoCompleto" [disabled]="isDisabled" required>
                </div>
              </div>
              <div class="col-md-12 mb-3" *ngIf="acao != 'detalhes'">
                <button class="btn btn-{{acao == 'remover' ? 'danger' : 'primary'}} float-end capitalize" type="button"
                  (click)="onSubmit()">
                  {{acao}}
                </button>
              </div>
            </div>
          </div>
          <div class="card-footer">
            * campos obrigatórios
          </div>
        </div>
      </div>
    </div>
  </form>

  <app-footer [sistema]="sistema" [modulo]="modulo"></app-footer>
</main>
